<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
</head>
<style>
    body{
        text-align: center;
        background-color:  #d0cdcd;
        color: #7f8699;
    }
    img{
        border-radius: 10%;
        width:336px;
        height: 434px;
    }
</style>
<body>
    <h1>У вас нет доступа к странице</h1>
    <h2>Авторизируйтесь, чтобы преложить инициативу!</h2>
    <h3>&#10054 С наступающим новым годом! &#10054</h3>
    <img src="/static/lab9/cocacola.jpg"><br>
</body>
</html>