{% extends "rgr/style.html" %}

{% block lab %}Инициативы{% endblock %}
{%block script%} <script src="{{url_for('static', filename = 'rgr/main.js')}}" ></script>{%endblock%}
{% block main %}
    <div class="initiativesСontainer">
        {% for article in articles %}
            <div class="initiative">
                <h2>{{ article[1] }}</h2>
                <p>{{ article[2] }}</p>
                <button  type="submit">За</button>
                <button  type="submit">Против</button>
            </div>
        {% endfor %}
    </div>

    
    <button class="loadMore" id="loadMore">Ещё</button>
{% endblock %}
