{% extends "lab5_style.html" %}

{% block lab %}Создать статью{% endblock %}

{%block main%}
   
    <h1>Новая заметка</h1>
    {% if errors %}
        <div class="error-container">
            
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            
        </div>
    {% endif %}
    <form method="POST">
        <input name="title_article" type="text" placeholder="Введите название статьи">
        <textarea name="arcticle_text" placeholder="Текст статьи" rows="20"></textarea>
        <input type="submit" value="Опубликовать"/>
    </form>


{%endblock%}