{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{%block main%}
    <h1>Щеночки</h1>
    <ol>
        <img src="/static/chih.jpg"><br>
        <div>
            Собака-компаньон. Считается самой маленькой собакой в мире и носит имя мексиканского штата Чиуауа.
        </div>
        <img src="/static/funny.jpg"><br>
        <div>
            Та же собака, но смешная
        </div>
        <img src="/static/cuty.jpg"><br>
        <div>
            Собака-компаньон, маленький спаниель. <br>
            Как и все спаниели, может поднимать птицу в подлеске, но всегда использовался именно в качестве домашнего любимца
        </div>
        <img src="/static/gold.jpg"><br>
        <div>
            Порода охотничьих собак, выведенная в Великобритании в XIX веке.
        </div>
        <img src="/static/puppy.jpg "><br>
        <div>
            Порода собак, относящаяся к категории «Шпицы и породы примитивного типа»
        </div>
        
    </ol>
{%endblock%}
