    {% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{%block main%}


    <h1>Пользователь</h1>
    
    <form action="/lab3/ticket">
        <label>Ваше ФИО:</label>
        <div>
            <input type="text" placeholder="ФИО" name="user" value="{{ user or ''}}">
            <span class=""error>{{errors.user}}</span>
        </div>

        <labeL>Возраст:</labeL>
        <div>
            <input type="number" name="age" value="{{ age or ''}}">
        </div>

        <div>Тип билета:</div>
        <label>
            <input type="radio" value="child" name="kind" checked>Детский
        </label>
        <label>
            <input type="radio" value="adult" name="kind" checked>Взрослый
        </label>
       
        <div>Полка:</div>
        <label> 
            <input type="checkbox" name="upper">Верхняя
        </label>
        <label> 
            <input type="checkbox" name="lower">Нижняя
        </label>
        <label> 
            <input type="checkbox" name="upperside">Верхняя боковая
        </label>
        <label> 
            <input type="checkbox" name="lowerside">Нижняя боковая
        </label>

        <label>Пункт выезда:</label>
        <div>
            <input type="text" placeholder="Пункт выезда" name="dispatch" value="{{ dispatch or ''}}">
            <span class=""error>{{errors.dispatch}}</span>
        </div>

        <label>Пункт прибытия:</label>
        <div>
            <input type="text" placeholder="Пункт прибытия" name="arrival" value="{{ arrival or ''}}">
            <span class=""error>{{errors.arrival}}</span>
        </div>

        <label>Дата поездки:</label>
        <div>
            <input type="date" placeholder="Дата поездки" name="date" value="{{ date or ''}}">
            <span class=""error>{{errors.arrival}}</span>
        </div>


        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>


{%endblock%}