{% extends "lab5_style.html" %}

{% block lab %}Мои статьи{% endblock %}

{%block main%}
<form>
    <div>
        <h1>User Articles</h1>
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <h3>{{ article[1] }}</h3>
                    <p>{{ article[2] }}</p>
                    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No articles found.</p>
    {% endif %}
    </div>
 </form>   
 {%endblock%}